.container {
  display: flex;
  flex-direction: column;
  background-color: var(--liquid-glass-color);
  border-radius: var(--rounded-corners);
  border: var(--border-size) solid var(--border-color);
  height: 100%;
  /** Liquid Glass Effect**/
  flex: 1 1 auto;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
  color: var(--lg-text);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
  backdrop-filter: blur(10px);

  .content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

    .title-bar-text {
      height: (var(--pill-size));
      width: auto;
      padding: 0 1rem;
      border: var(--border-size) solid var(--border-color);
      border-radius: var(--rounded-corners);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: var(--title-bar-color);
    }

      .icon {
        width: var(--icon-size);
        height: var(--icon-size);
      }
  }

  .software-group {
    width: auto;
    margin-bottom: 30px;
    padding: var(--general-padding);

    .software-type {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 15px;
      color: var(--text-color);
    }

    .software-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;

      .software-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: var(--card-background, transparent);
        border-radius: var(--rounded-corners);
        padding: 10px;

        .software-logo {
          width: 1rem;
          height: 1rem;
          max-width: 1rem;
          max-height: 1rem;
          object-fit: fill;
          margin-bottom: 10px;
        }

        h3 {
          font-size: 0.9rem;
          color: var(--text-color);
          margin: 0;
        }
      }
    }
  }
}