//TODO [Axel-2025-08-16]: Regler le probleme de mise en page de la NavBar

.container {
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: auto;

  .content-wrapper {
    width: 70%;

    padding: 0 1rem;

    .date {
      font-size: 4rem;
      color: var(--text-color);
    }
  }
}







