.container {
  background-color: var(--primary-color);
  border-radius: 8px 8px;
  padding: 0 30px;


  .content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    width: 100%;
    backdrop-filter: blur(10px);
/*
 * Mail Button Styles
 */
    .mail-button{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: var(--tertiary-color);
      border-radius: 8px 8px;
      padding: 8px 16px;

      .mail-button:hover{
        background-color: var(--secondary-color);
      }

      /*
      * Anchor tag styles
      */

      a{
        color: var(--text-color);
        text-decoration: none;
      }
      /*
      * Icon styles
      */

      #mail-icon{}

    h1 {
      color: var(--text-color);
      font-size: 1rem;
    }

    }
  }


}
