.container {
  display: flex;
  flex-direction: row;
  background-color: var(--background-color);
  border-radius: var(--base-radius);
  border: 1px solid var(--border-color);
  height: 100%;


  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 30px;
    width: 100%;

    .title-bar{
      width: 100%;
      border-bottom: 1px solid var(--border-color);
      .title-bar-text{
        color: var(--text-color);

      }
    }
  }

  p {
    color: #fff;
  }
}
