/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.container {
  height: 945px;
  width: 660;
  display: flex;
  flex-direction: column;
  border-radius: 11px;
  background-color: peachpuff;
}
