.container {
  //Size & Shape
  height: 100%;

  //Display
  display: flex;
  flex-direction: column;
  overflow: hidden;

  /** Liquid Glass Effect**/
  flex: 1 1 auto;
  color: var(--lg-text);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
  backdrop-filter: blur(10px);

  .content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-radius: var(--base-radius);


    .title-bar-text {
      //Display
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;


      //Text
      font-size: 8rem;
      font-weight: 600;
      color: var(--emphasis);
    }

    .icon {
      width: var(--icon-size);
      height: var(--icon-size);
    }
  }

  .introduction {

    .introduction-text {
      color: var(--text-color);
    }
  }

  .experiences {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: var(--general-padding);

    .experience-wrapper {
      // Size & Shape
      border: var(--border-size) solid var(--border-color);
      border-radius: var(--rounded-corners);
      padding: var(--general-padding);

      //Display
      display: grid;
      grid-template-areas:
              'experience-infos experience-infos experience-date'
              'experience-description experience-description experience-description';
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
      gap: 1rem;
      margin: 1rem 0;
      align-items: baseline;
      justify-content: start;

      //Shadows
      background-color: var(--liquid-glass-color);
      box-shadow: var(--shadow-color);

      .experience-infos {
        grid-area: experience-infos;

        .experience-title-text {
          text-wrap: nowrap;
        }
      }

      .experience-date {
        grid-area: experience-date;
        padding: 0 1rem;
        border: var(--border-size) solid var(--border-color);
        height: 1.5rem;
        width: auto;
        border-radius: var(--rounded-corners);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: var(--emphasis);
        text-wrap: nowrap;
      }


      .experience-description {
        grid-area: experience-description;

        .experience-details-list {


          .bullet-point {
            color: var(--text-color);
            font-size: 0.9rem;
            font-family: 'inter', sans-serif;
          }
        }
      }

      p {
        color: var(--text-color);
        font-size: 0.8rem;
        font-family: 'inter', sans-serif;
      }

    }
  }
}



