.container {
  display: flex;
  flex-direction: row;
  background-color: var(--background-color);
  border-radius: var(--rounded-corners);
  border: 1px solid var(--border-color);
  height: 100%;


  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 30px ;
    width: 100%;
    border-radius: var(--base-radius);


    .title-bar{
      width: 100%;
      border-bottom: 1px solid var(--border-color);
      .title-bar-text{
        color: var(--text-color);

      }
    }
    .experience-wrapper{
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: 1rem;
      margin: 1rem 0;
      width: 100%;
      padding:0;

      .experience-date{
        padding: 0 1rem;
        border-right: 1px solid var(--border-color);
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .experience-description{

          .experience-details-list{

            .bullet-point{
              color: var(--text-color);
              font-size: 1.2rem;
              font-family: 'inter', sans-serif;
              text-align: justify;
            }
          }
        }

        p {
          color: var(--text-color);
          font-size: 1.2rem;
          font-family: 'inter', sans-serif;
        }

        }



    }
  }
}
