.container {
  display: flex;
  flex-direction: row;
  background-color: var(--background-color);
  border-radius: var(--base-radius);
  height: 100%;
  border: 1px solid var(--border-color);

  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 30px;
    width: 100%;

  }
  .title-bar{
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    .title-bar-text{
      color: var(--text-color);

    }
  }
  .stack-wrapper{
    display: flex;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
    align-items: center;
    gap: 8px;

    .stack-chip{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .chip{
        border: 1px solid var(--border-color);
        border-radius: var(--base-radius);
        color: var(--text-color);
        padding: 4px 8px;
        margin: 4px;
      }
    }


    p{
      color: var(--text-color);
    }

  }
}
