.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  /** Liquid Glass Effect**/
  flex: 1 1 auto;
  color: var(--lg-text);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
  backdrop-filter: blur(10px);


  .content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;

  }

  .title-bar-text {
    //Display
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    //Text
    font-size: 8rem;
    font-weight: 600;
    color: var(--emphasis);

  }


  .stack-infos {
    display: grid;
    grid-template-areas:
            'stack-text stack-wrapper stack-wrapper'
            'stack-text stack-wrapper stack-wrapper';
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    .stack-text {
      grid-area: stack-text;
      color: var(--text-color);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }

    .stack-wrapper {
      //Size & Shape
      border: var(--border-size) solid var(--border-color);
      border-radius: var(--rounded-corners);
      padding: var(--general-padding);
      height: 9.375rem;

      //Display
      display: grid;
      gap: 1rem;


      //Shadows
      background-color: var(--liquid-glass-color);
      box-shadow: var(--shadow-color);


      .stack-type {
        display: flex;
        flex-direction: column;
        width: auto;

      }


      .stack-chip {
        display: flex;
        flex-direction: row;
        align-items: start;


        .chip {
          border: var(--border-size) solid var(--border-color);
          border-radius: var(--rounded-corners);
          color: var(--text-color);
          background-color: var(--chips-color);
          padding: 4px 8px;
          margin: 4px;
        }
      }


      /*p {
        color: var(--text-color);
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        text-transform: uppercase;
      }*/

    }
  }
}

/**
 * Breakpoints
 */

/* Smartphones portrait */
@media (max-width: 480px) {
  .container {
    padding: var(--phone-padding);
    height: 100%;

    .content-wrapper {
      justify-content: space-between;
    }
    .title-bar-text {
      font-size: 3rem;
    }
    .stack-infos {

      display: flex;
      flex-direction: column;

      .stack-text{
        font-size: 1rem;
      }

      .stack-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}