/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 315px;
  width: 660px;
  border-radius: 11px;
  background-color: #1fdad1;
}
