/* Your styles goes here. */
:root {
  box-sizing: border-box;
}
.app-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // 3 equal columns
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    'infos apprenticeship apprenticeship'
    'languages stack stack'
    'motivation motivation projects'
    'software skills skills'
    'experience experience hobbies';
  gap: 1rem;
  padding: 0 150px;
}

/**
 *Grid layout for the components
 */

.navbar {
  height: 100%;
  width: 100%;
}

.infos {
  grid-area: infos;
  height: 100%;
  width: 100%;
}

.apprenticeship {
  grid-area: apprenticeship;
  height: 100%;
  width: 100%;
}

.stack {
  grid-area: stack;
  height: 100%;
}

.languages {
  grid-area: languages;
  height: 100%;
}

.motivation {
  grid-area: motivation;
  height: 100%;
  width: 100%;
}

.projects {
  grid-area: projects;
  height: 100%;
  width: 100%;
}

.software {
  grid-area: software;
  height: 100%;
}

.skills {
  grid-area: skills;
  height: 100%;
  width: 100%;
}

.experience {
  grid-area: experience;
  height: 100%;
  width: 100%;
}

.hobbies {
  grid-area: hobbies;
  height: 100%;
  width: 100%;
}
h1 {
  font-size: 1.5rem;
  color: #fff;
}
