main {
  display: flex;
  flex-direction: column;
  width: auto;
  box-sizing: border-box;

  /**
  *NavBar Layout & Parameters
  */
  .app-header {
    position: fixed;
    height: auto;
    width: 90%;
    align-self: center;
    z-index: 999;


  }

  .app-footer {
    align-self: center;
    width: 90%;
    position: static;
  }

  /**
  * Grid Settings
  */

  .app-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // 3 equal columns
    grid-template-rows: repeat(8, auto);
    grid-template-areas:
      'infos infos infos apprenticeship'
      'marquee marquee marquee apprenticeship'
      'stack stack stack stack'
      'motivation motivation projects projects'
      'software skills skills skills'
      'experience experience experience experience'
      'hobbies hobbies hobbies hobbies';
    gap: 1rem;
    padding: 0 100px;
    margin-top: 100px;
    z-index: 1;

    /*
    **Grid layout for the components
    */

    .infos {
      grid-area: infos;
      height: 100%;
      width: 100%;
    }

    .apprenticeship {
      grid-area: apprenticeship;
      height: 100%;
      width: 100%;
    }

    .stack {
      grid-area: stack;
      height: 100%;
    }

    .motivation {
      grid-area: motivation;
      height: auto;
      width: 100%;
    }

    .projects {
      grid-area: projects;
      height: 100%;
      width: 100%;
    }

    .software {
      grid-area: software;
      height: 100%;
    }

    .skills {
      grid-area: skills;
      height: 100%;
      width: 100%;
    }

    .experience {
      grid-area: experience;
      height: 100%;
      width: 100%;
    }

    .hobbies {
      grid-area: hobbies;
      height: 100%;
      width: 100%;
    }
  }
}

h1 {
  font-size: 1.5rem;
  color: #fff;
}
