/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.container {
  background-color: var(--background-color);
  border-radius: var(--base-radius);
  height: 100%;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 30px 30px;
  }

  .photowrapper {
    margin-top: 20px;
    height: 114px;
    width: 114px;
  }

  .photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 2px solid #fff;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  p {
    color: #fff;
  }
}
