/*Imported Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*Imported Fonts*/


:root {
  background-color: #2B2B2B;
  box-sizing: border-box;
  margin: 0;
  background-image: url("src/assets/medias/images/backgrounds/obsidian-background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  /* Couleurs principales */
  --primary-color: #2b2b2bbf;
  --secondary-color: #530080;
  --tertiary-color: rgba(43, 43, 43, 0.56);
  --background-color: #2B2B2B;
  --text-color: rgb(197, 197, 197);
  --text-color-secondary: #000000;
  --span-zone-color: #530080;

  /**Liquid colors **/
  --liquid-glass-color: rgba(0, 0, 0, 0.3);
  --title-bar-color: rgba(20, 20, 20, 0.55);
  --chips-color: rgb(0, 0, 0);
  --chips-color-secondary: rgba(255, 134, 12, 0.71);

  /** Borders & Shadows **/
  --border-color: rgba(170, 170, 170, 0.35);
  --border-size: 2px;

  /* Text Styles*/
  h1 {
    font-size: 2.5rem;
    color: var(--text-color);
    text-transform: uppercase;
    font-family: 'Abril Fatface', sans-serif;
    font-weight: bold;
    margin: 0;
  }

  h2 {
    font-size: 1.2rem;
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
  }

  p {
    font-size: 1rem;
    color: var(--text-color-);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
  }

  li {
    font-size: 1rem;
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
  }


  /*Radius & Padding*/
  --general-padding: 30px;

  --base-radius: 4px;
  --rounded-corners: 64px;
  --grid-margin: 8px 0 8px 0;
  --left-radius: 64px 0 0 64px;
  --bottom-radius: 0 0 64px 64px;
  --top-radius: 64px 64px 0 0;
  --right-radius: 0 64px 64px 0;

  /*Smaller radius*/

  --left-radius-small: 16px 0 0 16px;
  --bottom-radius-small: 0 0 16px 16px;
  --top-radius-small: 16px 16px 0 0;
  --right-radius-small: 0 16px 16px 0;
}



//TODO:[2025-08-16]: Ameliorer :
//  border: 1px solid var(--border-color);
//  backdrop-filter: grayscale(1) blur(10px);
//  mask: radial-gradient(50% 50%, rgb(0, 0, 0) 55.1573%, rgba(0, 0, 0, 0) 100%);
//  opacity: 1;