/*Imported Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*Imported Fonts*/
@font-face {
  font-family:'Humane';
  src: url('src/assets/medias/fonts/humane/Humane-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family:'Humane';
  src: url('src/assets/medias/fonts/humane/Humane-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'Humane';
  src: url('src/assets/medias/fonts/humane/Humane-Light.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family:'Humane';
  src: url('src/assets/medias/fonts/humane/Humane-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family:'Humane';
  src: url('src/assets/medias/fonts/humane/Humane-SemiBold.woff2') format('woff2');
  font-weight: 600;

}

@font-face {
  font-family:'Humane';
  src: url('src/assets/medias/fonts/humane/Humane-Thin.woff2');
  font-weight: 100;
}

@font-face {
  font-family:'Humane';
  src: url('src/assets/medias/fonts/humane/Humane-ExtraLight.woff2');
  font-weight: 200;
}

:root {
  background-color: #000000;
  box-sizing: border-box;

  /* Couleurs principales */
  --primary-color: #2b2b2bbf;
  --secondary-color: #530080;
  --tertiary-color: rgba(43, 43, 43, 0.56);
  --background-color: rgb(0, 0, 0);
  --text-color: rgb(197, 197, 197);
  --text-color-secondary: #000000;
  --border-color: #aaaaaa;
  --span-zone-color: #530080;


/* Text Styles*/
  h1{
    font-size: 6rem;
    color: var(--text-color);
    text-transform: uppercase;
    font-family: 'Humane', sans-serif;
    font-weight: bold;
    margin: 0;
  }

  h2{
    font-size: 1.2rem;
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
  }

  p{
    font-size: 1rem;
    color: var(--text-color-);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
  }

  li{
    font-size: 1rem;
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
  }


  /*Global Design*/
  --base-radius: 4px;
  --general-padding: 30px;
  --grid-margin: 8px 0 8px 0;
}
