.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;

  .content {
    display: flex;
    flex-direction: column;
    margin-top: var(--general-margin);
    padding: var(--general-padding);

    .title-bar-text {
      //Display
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;


      //Text
      font-size: 4rem;
      font-weight: 600;
      color: var(--emphasis);
    }
  }
}